<div class="container-fluid" ng-controller="deudasController">

	<h2>{{capital_actual | currency:'CLP '}}</h2>
	
	<table class="table table-inverse">
		  <thead>
		    <tr>
		      <th>Nombre Completo</th>
		      <th>N° Cuotas</th>
		      <th>Valor Cuotas</th>
		      <th>Valor Préstamo</th>
		      <th>Total Préstamo</th>
		      <th>Estado</th>
		      <th>Acción</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="deuda in totalDeudas">
		      <td>{{deuda.cliente.nombre_completo}}</td>
		      <td>{{deuda.cuotas.length}}</td>
		      <td>${{deuda.cuotas[0].valor}}</td>
		      <td>${{deuda.prestamo}}</td>
		      <td>${{deuda.total}}</td>

		      <td ng-show={{deuda.cuotas[0].pagado}}> 
				Pagado
		      </td>

		      <td ng-show=!{{deuda.cuotas[0].pagado}}> 
				No pagado 
		      </td>

		      <td><button class="btn btn-light" type="button" style="width: 100%" ng-click="pagarCuotas(deuda.cuotas)" ng-disabled={{deuda.cuotas[0].pagado}}>Pagar Cuotas</button></td>
		    </tr>
		  </tbody>
	</table>

<!--
	<table class="table table-inverse">
		  <thead>
		    <tr>
		      <th>Valor cuota</th>
		      <th>Estado</th>
		      <th>Acción</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="deuda in totalDeudas">
		      <td>{{deuda.cliente.nombre_completo}}</td>
		      <td>{{deuda.cuotas.length}}</td>
		      <td><button class="btn btn-light" type="button" style="width: 100%">Pagar cuota</button></td>
		    </tr>
		  </tbody>
	</table>
	-->
</div>